gradio~=5.22.0
faster-whisper
openai-whisper
pydub
moviepy
yt-dlp
deep-translator
iso639
gTTS
edge-tts
ffmpeg-python
yandex-speechkit
coqui-tts
omegaconf
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
f5-tts
opencv-python
numpy
glob